.container{
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 1rem;
  /* background-color: blue; */
}
#firstCard{
  /* background-color: red; */
  width: 20rem; 
  height: 15rem;
}
#secondCard{
  /* background-color: green; */
  width: 20rem;
  height: 15rem;
  display: flex;
  
  
}
.buttonTag{
  margin-top:3rem;
}